{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

<nav class="max-w-6xl px-8 mt-8 mx-auto">

	{% block content %}
		<div class="flex">
			<div class="lg:w-2/6 md:w-1/6">
				{% if site_logo %}
					<a href="{{ path('<front>') }}" rel="home" class="site-logo">
						<img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
					</a>
				{% endif %}
			</div>

			<div class="hidden md:block lg:w-4/6 w-5/6">
				<div class="flex justify-between">
					<div class="flex mb-6">
						<svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-5 h-5" viewbox="0 0 20 20" fill="currentColor">
							<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"/>
						</svg>

						<div class="ml-4">
							<span class="font-bold block">Call Us</span>
							<span>+2 342 5446 67</span>
						</div>
					</div>
					<div class="flex mb-6">
						<svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-5 h-5" viewbox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"/>
						</svg>

						<div class="ml-4">
							<span class="font-bold block">Business hours</span>
							<span>Mon - Fri 8 AM - 5 PM</span>
						</div>
					</div>

					<div class="flex mb-6">
						<svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-5 h-5" viewbox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
						</svg>

						<div class="ml-4">
							<span class="font-bold block">Location</span>
							<span>Franklin St, Greenpoint Ave</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
</nav>
