.site-hero-image {
  min-height: 600px;
  position: relative;
}

.site-hero-image figure {
  animation-duration: 1s;
  animation-fill-mode: both;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  transform-origin: center;
}

.site-hero-image figure:nth-of-type(1) {
  height: 250px;
  left: 5%;
  top: 0;
  width: 250px;
}

.site-hero-image figure:nth-of-type(2) {
  animation-delay: 0.25s;
  height: 200px;
  right: 0;
  top: 225px;
  width: 200px;
}

.site-hero-image figure:nth-of-type(3) {
  animation-delay: 0.5s;
  height: 150px;
  left: 20%;
  top: 320px;
  width: 150px;
}

.site-hero-image figure:nth-of-type(4) {
  animation-delay: 0.75s;
  height: 100px;
  right: 24%;
  top: 490px;
  width: 100px;
}

.site-hero-image figure:nth-of-type(5) {
  animation-delay: 1s;
  height: 50px;
  left: 130px;
  top: 500px;
  width: 50px;
}

.site-hero-image .color-accent {
  animation-duration: 1s;
  animation-fill-mode: both;
  mix-blend-mode: multiply;
  position: absolute;
  transform-origin: center;
}

.site-hero-image .color-accent > span {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

.site-hero-image .color-accent:nth-of-type(1) {
  height: 125px;
  right: 5%;
  top: 5%;
  width: 125px;
}

.site-hero-image .color-accent:nth-of-type(1) span {
  animation-delay: 0.1s;
  background: #000000;
}

.site-hero-image .color-accent:nth-of-type(2) {
  height: 50px;
  left: 50%;
  top: 30%;
  width: 50px;
}

.site-hero-image .color-accent:nth-of-type(2) span {
  animation-delay: 0.3s;
  background: linear-gradient(to top, #000000, #e5e7eb);
}

.site-hero-image .color-accent:nth-of-type(3) {
  height: 80px;
  left: 5%;
  top: 280px;
  width: 80px;
}

.site-hero-image .color-accent:nth-of-type(3) span {
  animation-delay: 0.2s;
  background: #e5e7eb;
}

.site-hero-image .color-accent:nth-of-type(4) {
  bottom: 0;
  height: 40px;
  left: 40%;
  width: 40px;
}

.site-hero-image .color-accent:nth-of-type(4) span {
  animation-delay: 0.4s;
  background: linear-gradient(to bottom, #000000, #e5e7eb);
}

.subscription {
  background: linear-gradient(225deg, #fdc12a, #f37335);
  border-radius: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}


.subscription .webform-submission-inscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscription .webform-submission-inscription-form .form-item {
  max-width: calc( 50% - 1rem );
}

.subscription .webform-submission-inscription-form .form-type-processed-text h2{
  font-size: 2rem;
  font-weight: 700;
}

.subscription .webform-submission-inscription-form .form-type-select {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.subscription .webform-submission-inscription-form .form-select {
  background: white;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.subscription .webform-submission-inscription-form .form-item input {
  background: white;
  border: 2px solid white;
}

.subscription .webform-submission-inscription-form .form-item {
  width: 50%;
}

.subscription .webform-submission-inscription-form .form-type-processed-text {
  max-width: 100%;
  color: white;
  font-size: 1.2rem;
  width: 100%;
}

.btn-default {
  display: inline-block;
  border: 2px solid #f37335;
  color: #f37335 !important;
  background: transparent;
  font-weight: 600 !important;
  text-decoration: none !important;
  font-size: 1rem;
  border-radius: 2rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  height: 2.75rem;
  line-height: calc( 2.75rem - 4px );
  padding: 0 2rem;
}

.page-container {
  max-width: 1140px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  flex-wrap: wrap;
}

.views-row.classes {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
}

.class {
  background: white;
  overflow: hidden;
  box-shadow: 0 0 0.5rem 0 #c9e2f899;
  transition: 0.5s;
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 1rem 0;
}

.class .field--name-field-media-image img {
  width: 100%;
}

@media (max-width: 575px)  {
  .views-row.classes {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px)  {
  .views-row.classes {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px)  {
  .views-row.classes {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

